### Creation of Dataframe from Row data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Loading the row datafile and converting into parsed Dataframes

In [2]:
data_file = open('anonymous-msweb.data')
lines = data_file.readlines()
data_file.close() 


def attribute_table(lines):
    """
    This function is to convert row data into Attribute dataframe.
    """
    import re
    attribute_1 = []
    for i in lines:
        attribute_1.append(i.split(','))
        
    attribute_2 = []
    for i in attribute_1:
        temp = []
        if i[0] == 'A':
            temp.append(int(i[1]))
            temp.append(i[3].strip('""'))
            temp.append(re.findall(r'[A-Za-z]+', i[4])[0])
        attribute_2.append(temp)
    attribute = []
    for i in attribute_2:
        if not bool(i):
            pass
        else:
            attribute.append(i)

    df_attribute = pd.DataFrame(attribute,columns=['attribute_id','vroot_title','vroot_title_url'])    
    return df_attribute

df_train_attribute = attribute_table(lines = lines)
df_train_attribute.to_csv('train_attribute_df.csv')

#### To check if any Nan value present in any cell of Train Attribute dataframe

In [3]:
print(df_train_attribute['attribute_id'].isnull().values.any())
print(df_train_attribute['vroot_title'].isnull().values.any())
print(df_train_attribute['vroot_title_url'].isnull().values.any())

False
False
False

In [4]:
def users_table(lines):
    """
    This function is to convert row data into Users dataframe.
    """
    attribute_1 = []
    for i in lines:
        attribute_1.append(i.split(','))
    
    attribute = []
    for i in range(0,len(attribute_1)):
        temp = []
        if (attribute_1[i][0] == 'C'):
            temp.append(attribute_1[i][1].strip('""'))
            root = []
            try:
                for j in range(1,50):
                    if attribute_1[i+j][0] == 'V':
                        root.append(int(attribute_1[i+j][1]))
                    else:
                        break
            except IndexError:
                pass
            temp.append(root)
        else:
            continue
        attribute.append(temp)
    #print(attribute)
    temp1 =[]
    for i in attribute:
        for j in i[1]:
            temp2=[]
            temp2.append(i[0])
            temp2.append(j)
            temp1.append(temp2)
    #print(temp1)
    df_users_for_count = pd.DataFrame(attribute,columns=['user_id','vroot_id'])  
    df_users = pd.DataFrame(temp1,columns=['user_id','vroot_id']) 
    return df_users, df_users_for_count

df_train_users, df_train_users_for_count = users_table(lines=lines)
df_train_users_for_count.to_csv('train_df_users_for_count.csv')
df_train_users.to_csv('train_df_users.csv')
df_train_users

      user_id  vroot_id
0       10001      1000
1       10001      1001
2       10001      1002
3       10002      1001
4       10002      1003
...       ...       ...
98649   42709      1003
98650   42710      1035
98651   42710      1001
98652   42710      1018
98653   42711      1008

[98654 rows x 2 columns]

#### To check if any Nan value present in any cell of Train Users dataframe

In [5]:
print(df_train_users['user_id'].isnull().values.any())
print(df_train_users['vroot_id'].isnull().values.any())

False
False

In [6]:
data_file = open('anonymous-msweb.test')
lines_test = data_file.readlines()
data_file.close() 
#lines_test

In [7]:
df_test_attribute = attribute_table(lines = lines_test)
df_test_attribute.to_csv('test_attribute_df.csv')

In [8]:
df_test_users, df_test_users_for_count = users_table(lines=lines_test)
df_test_users.to_csv('test_users_df.csv')
df_test_users_for_count.to_csv('test_df_users_for_count.csv')
df_test_users

      user_id  vroot_id
0       10001      1038
1       10001      1026
2       10001      1034
3       10002      1008
4       10002      1056
...       ...       ...
15186   14999      1027
15187   14999      1026
15188   14999      1041
15189   15000      1000
15190   15000      1009

[15191 rows x 2 columns]

#### To check if any Nan value present in any cell of Test Users dataframe and Test Attribute datafram

In [9]:
print(df_test_attribute['attribute_id'].isnull().values.any())
print(df_test_attribute['vroot_title'].isnull().values.any())
print(df_test_attribute['vroot_title_url'].isnull().values.any())
print(df_test_users['user_id'].isnull().values.any())
print(df_test_users['vroot_id'].isnull().values.any())

False
False
False
False
False